Competition_data/Cities.csv
Competition_data/Conferences.csv
Competition_data/MConferenceTourneyGames.csv
Competition_data/MGameCities.csv
Competition_data/MMasseyOrdinals.csv
Competition_data/MNCAATourneyCompactResults.csv
Competition_data/MNCAATourneyDetailedResults.csv
Competition_data/MNCAATourneySeedRoundSlots.csv
Competition_data/MNCAATourneySeeds.csv
Competition_data/MNCAATourneySlots.csv
Competition_data/MRegularSeasonCompactResults.csv
Competition_data/MRegularSeasonDetailedResults.csv
Competition_data/MSeasons.csv
Competition_data/MSecondaryTourneyCompactResults.csv
Competition_data/MSecondaryTourneyTeams.csv
Competition_data/MTeamCoaches.csv
Competition_data/MTeamConferences.csv
Competition_data/MTeamSpellings.csv
Competition_data/MTeams.csv
Competition_data/SampleSubmissionStage1.csv
Competition_data/SampleSubmissionStage2.csv
Competition_data/WConferenceTourneyGames.csv
Competition_data/WGameCities.csv
Competition_data/WNCAATourneyCompactResults.csv
Competition_data/WNCAATourneyDetailedResults.csv
Competition_data/WNCAATourneySeeds.csv
Competition_data/WNCAATourneySlots.csv
Competition_data/WRegularSeasonCompactResults.csv
Competition_data/WRegularSeasonDetailedResults.csv
Competition_data/WSeasons.csv
Competition_data/WSecondaryTourneyCompactResults.csv
Competition_data/WSecondaryTourneyTeams.csv
Competition_data/WTeamConferences.csv
Competition_data/WTeamSpellings.csv
Competition_data/WTeams.csv